In [1]:
from pymongo import MongoClient
import pandas as pd
import requests
import time
import os
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
client = MongoClient("mongodb://localhost:27017/")

In [3]:
db = client.companies

In [4]:
collection_companies = db.clean_companies

In [5]:
query = collection_companies.find()

In [6]:
data = pd.DataFrame(query)

In [7]:
data.head()

,_id,name,category_code,number_of_employees,founded_year,deadpooled_year,description,latitude,longitude,country,state,city,monedas,total_amount_raised,geo
0,5d83a90255488441b3fff55a,Plaxo,web,50,2002.0,None,Contact Management,37.387845,-122.055197,USA,CA,Sunnyvale,Dolares estadounidenses,2.830000e+07,"{'type': 'Point', 'coordinates': [-122.055197,..."
1,5d83a90255488441b3fff55b,Kyte,games_video,40,2006.0,None,Online & Mobile Video Platform,37.788482,-122.409173,USA,CA,San Francisco,Dolares estadounidenses,2.340000e+07,"{'type': 'Point', 'coordinates': [-122.409173,..."
2,5d83a90255488441b3fff55c,Twitter,social,1300,2006.0,None,Real time communication platform,37.776805,-122.416924,USA,CA,San Francisco,Dolares estadounidenses,1.160000e+09,"{'type': 'Point', 'coordinates': [-122.4169244..."
3,5d83a90255488441b3fff55d,eBay,web,15000,1995.0,None,Online Marketplace,37.295005,-121.930035,USA,CA,San Jose,Dolares estadounidenses,6.700000e+06,"{'type': 'Point', 'coordinates': [-121.930035,..."
4,5d83a90255488441b3fff55e,Jajah,mobile,110,2005.0,None,IP Communications Platform,37.423390,-122.089951,USA,CA,Mountain View,Dolares estadounidenses,3.300000e+07,"{'type': 'Point', 'coordinates': [-122.0899512..."

In [8]:
data.shape

(200, 15)

In [9]:
# Cuento el número de empresas a un kilometro de distancia
def getCompaniesNear(geopoint, max_meters=1000):
    return len(list(db.clean_companies.find({
        "geo": {
            "$near": {
               "$geometry": geopoint,
               "$maxDistance": max_meters
             }
       }
    })))

In [10]:
# Creo una nueva columna con el número de empresas que están a un km de distancia
data["num_companies"] = data["geo"].apply(getCompaniesNear)

In [11]:
# Cuento el número de empleados a un kilometro de distancia

def getEmployees(geopoint, max_meters=1000):
    info = list(db.clean_companies.find({
        "geo": {
            "$near": {
               "$geometry": geopoint,
               "$maxDistance": max_meters
             }
       }
    }))
    
    total = 0
    for e in info:
        total += e["number_of_employees"]
    return total

In [17]:
# Creo una nueva columna con el número de empleados totales en un radio de un km de distancia

In [12]:
data["num_employees"] = data["geo"].apply(getEmployees)

In [13]:
# Cuento el total de dinero a un kilometro de distancia

def getMoney(geopoint, max_meters=1000):
    info = list(db.clean_companies.find({
        "geo": {
            "$near": {
                "$geometry": geopoint,
                "$maxDistance": max_meters
            }
        }
    }))
    
    total = 0
    for e in info:
        total += e["total_amount_raised"]
    return total

In [14]:
# Creo una nueva columna
data["total_money"] = data["geo"].apply(getMoney)

In [15]:
data.head(3)

,_id,name,category_code,number_of_employees,founded_year,deadpooled_year,description,latitude,longitude,country,state,city,monedas,total_amount_raised,geo,num_companies,num_employees,total_money
0,5d83a90255488441b3fff55a,Plaxo,web,50,2002.0,None,Contact Management,37.387845,-122.055197,USA,CA,Sunnyvale,Dolares estadounidenses,2.830000e+07,"{'type': 'Point', 'coordinates': [-122.055197,...",1,50,2.830000e+07
1,5d83a90255488441b3fff55b,Kyte,games_video,40,2006.0,None,Online & Mobile Video Platform,37.788482,-122.409173,USA,CA,San Francisco,Dolares estadounidenses,2.340000e+07,"{'type': 'Point', 'coordinates': [-122.409173,...",14,1532,5.451700e+08
2,5d83a90255488441b3fff55c,Twitter,social,1300,2006.0,None,Real time communication platform,37.776805,-122.416924,USA,CA,San Francisco,Dolares estadounidenses,1.160000e+09,"{'type': 'Point', 'coordinates': [-122.4169244...",3,1487,1.233400e+09

In [22]:
# Exporto el dataframe como un csv para visualizar los datos en Tableau

In [16]:
data.to_csv("./output/data.csv", index=False)

In [ ]:
################

In [17]:
zomato_key = os.getenv("zomato_key")

In [18]:
def getVeganRestaurants(lat, lon):
    
    # Hacer una llamada a la api para buscar restaurantes veganos
    # Utilizo un radio de 1 km a la redonda
    # utilizo la clave 308, la cifra que se corresponde con los locales vegetarianos
    
    headers = {
        "user-key": "{}".format(xomato_key)
    }
    url = "https://developers.zomato.com/api/v2.1/search?lat={}&lon={}&radius=1000&cuisines=308".format(lat, lon)
    response = requests.get(url, headers=headers)
    response = response.json()
    return response

In [19]:
restaurants = data.apply(lambda x: getVeganRestaurants(x["latitude"], x["longitude"]), axis=1)

In [20]:
restaurants.head()

0    {'results_found': 47, 'results_start': 0, 'res...
1    {'results_found': 68, 'results_start': 0, 'res...
2    {'results_found': 68, 'results_start': 0, 'res...
3    {'results_found': 46, 'results_start': 0, 'res...
4    {'results_found': 56, 'results_start': 0, 'res...
dtype: object

In [21]:
type(restaurants)

pandas.core.series.Series

In [22]:
restaurants = pd.DataFrame(restaurants)
restaurants.columns = ["restaurants"]
restaurants.head()

                                         restaurants
0  {'results_found': 47, 'results_start': 0, 'res...
1  {'results_found': 68, 'results_start': 0, 'res...
2  {'results_found': 68, 'results_start': 0, 'res...
3  {'results_found': 46, 'results_start': 0, 'res...
4  {'results_found': 56, 'results_start': 0, 'res...

In [26]:
restaurants.iloc[0]

restaurants    {'code': 403, 'status': 'Forbidden', 'message'...
Name: 0, dtype: object

In [250]:
def getInfoRestaurants(data):
    info_restaurants = []
    for rest in data:
        restaurant_dict = {
                   "name": rest["restaurants"]["restaurant"]["name"],
                   "address": rest["restaurants"]["restaurant"]["location"]["address"],
                   "lat": rest["restaurants"]["restaurant"]["location"]["latitude"],
                   "lon": rest["restaurants"]["restaurant"]["location"]["longitude"],
                   "timings": rest["restaurants"]["restaurant"]["timings"]
               }
    print(rest)
    info_restaurants.append(restaurant_dict)
    return info_restaurants

In [249]:
z = getInfoRestaurants(restaurants)

TypeError: string indices must be integers